Repository deepaucksharma/DStudio: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

.pre-commit-config.yaml:

# Pre-commit hooks for pattern library validation
# Install with: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown (for line breaks)
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.yaml']
        exclude: 'templates/.*\.md$'

  # Python code quality (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        files: ^scripts/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: ^scripts/.*\.py$

  # Custom pattern library validation hooks
  - repo: local
    hooks:
      # Pattern metadata validation
      - id: pattern-metadata-validation
        name: Pattern Metadata Validation
        entry: python3 scripts/comprehensive-pattern-validator.py
        args: ['--fail-fast', '--report=json']
        language: system
        files: 'docs/pattern-library/.*\.md$'
        pass_filenames: false
        always_run: false

      # Navigation consistency check
      - id: navigation-consistency
        name: Navigation Consistency Check
        entry: python3 scripts/check-navigation.py
        language: system
        files: '(mkdocs\.yml|docs/pattern-library/.*\.md)$'
        pass_filenames: false

      # Pattern quality check
      - id: pattern-quality-check
        name: Pattern Quality Check
        entry: python3 scripts/pattern-manager.py
        args: ['quality', '--format=table']
        language: system
        files: 'docs/pattern-library/.*\.md$'
        pass_filenames: false
        always_run: false

      # Pattern count validation
      - id: pattern-count-validation
        name: Pattern Count Validation
        entry: bash scripts/validate-pattern-counts.sh
        language: system
        files: '(README\.md|CLAUDE\.md|docs/index\.md|docs/pattern-library/index\.md)$'
        pass_filenames: false

      # Broken link detection
      - id: broken-link-detection
        name: Broken Link Detection
        entry: python3 scripts/verify-links.py
        args: ['--pattern-links-only']
        language: system
        files: 'docs/pattern-library/.*\.md$'
        pass_filenames: false

      # Excellence framework validation
      - id: excellence-framework-validation
        name: Excellence Framework Validation
        entry: python3 scripts/validate-excellence-framework.py
        language: system
        files: 'docs/pattern-library/.*\.md$'
        pass_filenames: false
        always_run: false

# Configuration for specific hooks
default_stages: [commit]
fail_fast: true
minimum_pre_commit_version: '3.0.0'

Push all remaining changes
  PATTERN_ASSESSMENT_MATRIX.md
  PATTERN_IMPROVEMENT_ROADMAP.md
  PATTERN_LIBRARY_CRITICAL_REVIEW.md
  PATTERN_QUALITY_RUBRIC.md
  PATTERN_TRANSFORMATION_EXAMPLES.md
  docs/interview-prep/engineering-leadership/framework-index.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/crisis-leadership-reality.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/human-cost-leadership.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/impossible-decisions.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/managing-up-dark-art.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/organizational-politics-mastery.md
  docs/interview-prep/engineering-leadership/hard-earned-wisdom/performance-management-reality.md
  mkdocs.yml
  podcast-content/03-architecture-deep-dives-series/episode-19-netflix-streaming-empire.md
  podcast-content/03-architecture-deep-dives-series/episode-20-amazon-infrastructure-philosophy.md
  podcast-content/03-architecture-deep-dives-series/episode-21-google-scale-mastery.md
  podcast-content/CONTENT_ORGANIZATION_STRATEGY.md
  podcast-content/Feedback.md
Due: navigation-consistency

Push all remaining changes
  PATTERN_FIX_TRACKER.md
  docs/pattern-library/architecture/event-streaming.md
  docs/pattern-library/architecture/graphql-federation.md
  docs/pattern-library/architecture/sidecar.md
  docs/pattern-library/communication/api-gateway.md
  docs/pattern-library/communication/service-mesh.md
  docs/pattern-library/coordination/distributed-queue.md
  docs/pattern-library/resilience/retry-backoff.md
  podcast-content/01-foundational-series/episode-06-resilience-patterns-enhanced.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

Push all remaining changes
  docs/pattern-library/communication/publish-subscribe.md
  docs/pattern-library/communication/service-discovery.md
  podcast-content/01-foundational-series/episode-08-state-management-enhanced.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

in
  CLAUDE.md
  podcast-content/CONCEPT_FREQUENCY_MATRIX.md
  podcast-content/REDUNDANCY_GAP_ANALYSIS.md
  podcast-content/SERIES2_CONCEPT_ANALYSIS.md
Due: pattern-count-validation

Fix GitHub Actions workflow failures
  .github/workflows/pattern-library-validation.yml
  .github/workflows/validate-patterns.yml
  mkdocs.yml
  navigation-validation-report.json
Due: navigation-consistency

in
  docs/pattern-library/communication/publish-subscribe.md
  docs/pattern-library/communication/request-reply.md
  docs/pattern-library/scaling/caching-strategies.md
  docs/pattern-library/scaling/rate-limiting.md
  reports/PATTERN_TRANSFORMATION_STATUS_2025-01-30.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

in
  docs/pattern-library/architecture/anti-corruption-layer.md
  docs/pattern-library/architecture/cell-based.md
  docs/pattern-library/architecture/event-driven.md
  docs/pattern-library/architecture/strangler-fig.md
  docs/pattern-library/coordination/consensus.md
  docs/pattern-library/data-management/consistent-hashing.md
  docs/pattern-library/data-management/distributed-storage.md
  docs/pattern-library/scaling/auto-scaling.md
  docs/pattern-library/scaling/backpressure.md
  docs/pattern-library/scaling/edge-computing.md
  docs/pattern-library/scaling/geo-distribution.md
  docs/pattern-library/scaling/load-balancing.md
  reports/PATTERN_IMPROVEMENT_DASHBOARD.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

Fix navigation styling - improve color contrast
  docs/architects-handbook/case-studies/databases/index.md
  docs/architects-handbook/case-studies/index.md
  docs/architects-handbook/index.md
  docs/index.md
  docs/pattern-library/coordination/clock-sync.md
  docs/pattern-library/coordination/emergent-leader.md
  docs/pattern-library/coordination/generation-clock.md
  docs/pattern-library/coordination/hlc.md
  docs/pattern-library/data-management/bloom-filter.md
  docs/pattern-library/data-management/delta-sync.md
  docs/pattern-library/data-management/lsm-tree.md
  docs/pattern-library/data-management/merkle-trees.md
  docs/pattern-library/data-management/write-ahead-log.md
  docs/pattern-library/scaling/analytics-scale.md
  docs/pattern-library/scaling/auto-scaling.md
  docs/pattern-library/scaling/backpressure.md
  docs/pattern-library/scaling/caching-strategies.md
  docs/pattern-library/scaling/geo-replication.md
  docs/pattern-library/scaling/load-balancing.md
  docs/pattern-library/scaling/rate-limiting.md
  docs/reference/law-mapping-guide.md
  docs/stylesheets/extra.css
  mkdocs.yml
  project-docs/complete-url-list.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

Fix pattern library content updates
  docs/pattern-library/architecture/cap-theorem.md
  docs/pattern-library/architecture/choreography.md
  docs/pattern-library/architecture/event-streaming.md
  docs/pattern-library/data-management/data-lake.md
  docs/pattern-library/data-management/eventual-consistency.md
  docs/pattern-library/data-management/materialized-view.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

in
  docs/pattern-library/communication/api-gateway.md
  docs/pattern-library/communication/grpc.md
  docs/pattern-library/communication/request-reply.md
  docs/pattern-library/communication/service-registry.md
  docs/pattern-library/coordination/actor-model.md
  docs/pattern-library/coordination/cas.md
  docs/pattern-library/coordination/clock-sync.md
  docs/pattern-library/coordination/distributed-queue.md
  docs/pattern-library/coordination/lease.md
  reports/PATTERN_IMPROVEMENT_DASHBOARD.md
  reports/PATTERN_TRANSFORMATION_FINAL_REPORT_2025-01-31.md
  reports/pattern-validation/comprehensive-validation-summary-20250801.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

feat(interview-prep): comprehensive enhancement with 30+ new pages
  docs/interview-prep/coding-interviews/algorithm-patterns.md
  docs/interview-prep/coding-interviews/index.md
  docs/interview-prep/coding-interviews/interview-tips.md
  docs/interview-prep/engineering-leadership/company-specific/apple/index.md
  docs/interview-prep/engineering-leadership/company-specific/google/index.md
  docs/interview-prep/engineering-leadership/company-specific/meta/index.md
  docs/interview-prep/engineering-leadership/company-specific/microsoft/index.md
  docs/interview-prep/engineering-leadership/company-specific/netflix/index.md
  docs/interview-prep/engineering-leadership/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/decision-making/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/human-behavior/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/integrity-ethics/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/systems-thinking/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/value-creation/index.md
  docs/interview-prep/engineering-leadership/practice-scenarios/bad-news-scenario.md
  docs/interview-prep/engineering-leadership/practice-scenarios/index.md
  docs/interview-prep/engineering-leadership/practice-scenarios/managing-up-scenario.md
  docs/interview-prep/engineering-leadership/practice-scenarios/reorg-scenario.md
  docs/interview-prep/engineering-leadership/practice-scenarios/stakeholder-negotiation-scenario.md
  docs/interview-prep/engineering-leadership/practice-scenarios/tight-deadline-scenario.md
  docs/interview-prep/ic-interviews/behavioral/by-level.md
  docs/interview-prep/ic-interviews/behavioral/index.md
  docs/interview-prep/ic-interviews/behavioral/scenarios.md
  docs/interview-prep/ic-interviews/common-problems/cicd-pipeline.md
  docs/interview-prep/ic-interviews/common-problems/cloud-storage.md
  docs/interview-prep/ic-interviews/common-problems/collaborative-editor.md
  docs/interview-prep/ic-interviews/common-problems/index.md
  docs/interview-prep/ic-interviews/common-problems/iot-platform.md
  docs/interview-prep/ic-interviews/common-problems/ml-serving.md
  docs/interview-prep/ic-interviews/index.md
  docs/interview-prep/index.md
  mkdocs.yml
Due: navigation-consistency

Improve overall formatting consistency and mobile responsiveness
  docs/core-principles/laws/index.md
  docs/interview-prep/engineering-leadership/index.md
  docs/pattern-library/architecture/event-driven.md
  docs/reference/formatting-guide.md
  docs/stylesheets/extra.css
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

fix: comprehensive formatting improvements for Engineering Leadership section
  docs/interview-prep/engineering-leadership/framework-index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/decision-making/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/human-behavior/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/integrity-ethics/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/systems-thinking/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/value-creation/index.md
  docs/interview-prep/engineering-leadership/level-2-core-business/strategy/index.md
  docs/interview-prep/engineering-leadership/level-3-applications/technical-leadership/index.md
  docs/interview-prep/engineering-leadership/level-4-interview-execution/tools/star-framework/index.md
  docs/interview-prep/engineering-leadership/navigation-guide.md
  docs/interview-prep/engineering-leadership/practice-scenarios/index.md
  docs/interview-prep/index.md
  project-docs/tracking/ENGINEERING_LEADERSHIP_FORMATTING_FIXES.md
Due: none

feat: enhance engineering leadership with modern first principles insights
  docs/interview-prep/engineering-leadership/level-1-first-principles/decision-making/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/systems-thinking/index.md
  docs/interview-prep/engineering-leadership/level-1-first-principles/value-creation/index.md
  docs/interview-prep/engineering-leadership/level-3-applications/business-acumen/index.md
  docs/interview-prep/engineering-leadership/level-3-applications/organizational-design/index.md
  docs/interview-prep/engineering-leadership/level-3-applications/people-management/index.md
  docs/interview-prep/engineering-leadership/level-3-applications/technical-leadership/index.md
  project-docs/tracking/FIRST_PRINCIPLES_ENHANCEMENT_SUMMARY.md
Due: none

fix: validate and fix broken links in interview-prep section
  DIAMOND_TIER_ENHANCEMENT_SUMMARY.md
  docs/interview-prep/engineering-leadership/framework-index.md
  docs/interview-prep/ic-interviews/common-problems/index.md
  project-docs/tracking/INTERVIEW_PREP_LINK_VALIDATION.md
  scripts/validate-interview-prep-links.py
Due: none

fix: update GitHub Actions to use upload-artifact@v4
  .github/workflows/comprehensive-validation.yml
  .github/workflows/deploy-improved.yml
  .github/workflows/deploy.yml
  ULTIMATE_STRUCTURAL_FIX_REPORT.md
  docs/javascripts/progress-tracker.js
  docs/progress.md
  docs/stylesheets/progress-tracker.css
  mkdocs.yml
Due: navigation-consistency

fix: comprehensive structural improvements and CI/CD updates
  .github/workflows/comprehensive-validation.yml
  .github/workflows/deploy-improved.yml
  .github/workflows/deploy.yml
  GITHUB_ACTIONS_IMPROVEMENTS.md
Due: none

fix: correct GitHub Actions versions and YAML syntax
  .github/workflows/comprehensive-validation.yml
  .github/workflows/deploy.yml
Due: none

fix: improve GitHub Pages deployment handling
  .github/workflows/deploy.yml
  README.md
Due: pattern-count-validation

fix: improve deployment error handling for transient GitHub Actions issues
  .github/workflows/deploy.yml
Due: none

fix: add robust deployment handling for GitHub Actions artifact issues
  .github/workflows/deploy-alternative.yml
  .github/workflows/deploy.yml
Due: none

fix: update GitHub Actions versions for compatibility
  .github/workflows/deploy.yml
Due: none

feat: add user progress tracking system with reset controls
  docs/index.md
  docs/javascripts/progress-tracker.js
  docs/stylesheets/progress-tracker.css
  mkdocs.yml
Due: navigation-consistency, pattern-count-validation

fix: remove language selector and fix Mermaid diagram rendering
  docs/data/health-data/pattern-health-metrics.json
  docs/javascripts/custom.js
  docs/javascripts/pattern-filtering.js
  docs/reference/pattern-health-dashboard.md
  fix-pattern-urls.py
  mkdocs.yml
Due: navigation-consistency

fix: pattern health dashboard and pattern library functionality
  docs/javascripts/custom.js
  docs/javascripts/pattern-filtering.js
  docs/pattern-library/index.md
  fix-pattern-urls.py
  mkdocs.yml
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

fix: update Mermaid configuration to resolve syntax errors
  add-pattern-redirects.py
  mkdocs.yml
Due: navigation-consistency

fix: add pattern redirects to resolve 404 errors
  add-pattern-redirects.py
  mkdocs.yml
Due: navigation-consistency

fix: resolve Mermaid diagram rendering issues
  docs/test-mermaid.md
  mkdocs.yml
Due: navigation-consistency
