Repository deepaucksharma/DStudio: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

pattern-metadata-validation:
  name: Pattern Metadata Validation
  entry: python3 scripts/comprehensive-pattern-validator.py
  args:
  - --fail-fast
  - --report=json
  language: system
  pass_filenames: false
  always_run: false

navigation-consistency:
  name: Navigation Consistency Check
  entry: python3 scripts/check-navigation.py
  language: system
  pass_filenames: false

pattern-quality-check:
  name: Pattern Quality Check
  entry: python3 scripts/pattern-manager.py
  args:
  - quality
  - --format=table
  language: system
  pass_filenames: false
  always_run: false

pattern-count-validation:
  name: Pattern Count Validation
  entry: bash scripts/validate-pattern-counts.sh
  language: system
  pass_filenames: false

broken-link-detection:
  name: Broken Link Detection
  entry: python3 scripts/verify-links.py
  args:
  - --pattern-links-only
  language: system
  pass_filenames: false

excellence-framework-validation:
  name: Excellence Framework Validation
  entry: python3 scripts/validate-excellence-framework.py
  language: system
  pass_filenames: false
  always_run: false

feat: add comprehensive test framework for core principles
  docs/core-principles/laws/asynchronous-reality.md
  docs/core-principles/laws/correlated-failure.md
  docs/core-principles/laws/distributed-knowledge.md
  docs/core-principles/laws/economic-reality.md
  docs/core-principles/laws/emergent-chaos.md
  docs/core-principles/laws/index.md
  docs/core-principles/laws/multidimensional-optimization.md
  docs/core-principles/laws/tests/REVISED_TEST_STRATEGY.md
  docs/core-principles/laws/tests/cognitive-load-test.md
  docs/core-principles/laws/tests/distributed-knowledge-test.md
  docs/core-principles/laws/tests/economic-reality-test.md
  docs/core-principles/laws/tests/multidimensional-optimization-test.md
  docs/core-principles/pillars/tests/control-distribution-test.md
  docs/core-principles/pillars/tests/intelligence-distribution-test.md
  docs/core-principles/pillars/tests/state-distribution-test.md
  docs/core-principles/pillars/tests/truth-distribution-test.md
  docs/core-principles/pillars/tests/work-distribution-test.md
  mkdocs.yml
Due: navigation-consistency

feat: enhance 7 fundamental laws with Apex Learner's Protocol and fix Mermaid diagrams
  docs/core-principles/laws/asynchronous-reality.md
  docs/core-principles/laws/correlated-failure.md
  docs/core-principles/laws/economic-reality.md
  docs/core-principles/pillars/tests/index.md
  docs/core-principles/pillars/tests/state-distribution-learning.md
  docs/core-principles/pillars/tests/work-distribution-exam.md
  docs/core-principles/pillars/tests/work-distribution-learning.md
  docs/interview-prep/ic-interviews/index.md
  docs/interview-prep/index.md
  mkdocs.yml
Due: navigation-consistency

Fix MLU-3 blast radius diagram rendering in correlated failure law
  docs/core-principles/laws/correlated-failure.md
Due: none

Update project files
  LEARNING_MODULE_TRACKER.md
  PATTERN_LIBRARY_STANDARDIZATION_SUMMARY.md
  PATTERN_METADATA_STANDARDIZATION_REPORT.md
  docs/core-principles/IMPLEMENTATION_GUIDE.md
  docs/core-principles/LEARNING_MODULE_TRACKER.md
  docs/core-principles/PATTERN_LAW_INTEGRATION_SUMMARY.md
  docs/core-principles/laws/tests/distributed-knowledge-exam.md
  docs/core-principles/laws/tests/emergent-chaos-exam.md
  docs/core-principles/pattern-library/resilience/module-circuit-breaker.md
  docs/pattern-library/communication/api-gateway.md
  docs/pattern-library/data-management/consistent-hashing.md
  docs/pattern-library/data-management/cqrs.md
  docs/pattern-library/data-management/saga.md
  docs/pattern-library/index.md
  docs/pattern-library/pattern-synthesis-guide.md
  docs/pattern-library/resilience/bulkhead.md
  docs/pattern-library/scaling/load-balancing.md
  docs/reference/pattern-consistency-report.md
  mkdocs.yml
  pattern_count_audit.json
  pattern_metadata_analysis.json
  scripts/apply_template_v2_standards.py
  scripts/count_patterns.py
  scripts/standardize_pattern_metadata.py
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

Add comprehensive pattern library link validation suite
  scripts/final_pattern_link_cleanup.py
  scripts/fix_pattern_links.py
  scripts/link_validation_summary.py
  scripts/manual_pattern_link_fixes.py
  scripts/validate_pattern_links.py
Due: none

chore: add strict validation settings to mkdocs.yml
  mkdocs.yml
Due: navigation-consistency

feat: Add comprehensive learning modules and examinations for distributed systems
  MKDOCS_BUILD_REPORT.md
  mkdocs.yml
Due: navigation-consistency

Consolidate documentation structure
  docs/case-studies/amazon-dynamo.md
  docs/case-studies/google-spanner.md
  docs/case-studies/linkedin-kafka.md
  docs/case-studies/netflix-chaos.md
  docs/case-studies/uber-ringpop.md
  docs/core-principles/pattern-library/architecture/cap-theorem/index.md
  docs/core-principles/pattern-library/architecture/cell-based/index.md
  docs/core-principles/pattern-library/resilience/bulkhead/index.md
  docs/core-principles/pattern-library/resilience/circuit-breaker/index.md
  docs/core-principles/pattern-library/resilience/retry-backoff/index.md
  docs/core-principles/pattern-library/scaling/auto-scaling/index.md
  docs/core-principles/pattern-library/scaling/backpressure/index.md
  docs/core-principles/pattern-library/scaling/caching-strategies/index.md
  docs/core-principles/pattern-library/scaling/edge-computing/index.md
  docs/core-principles/pattern-library/scaling/load-balancing/index.md
  docs/core-principles/pattern-library/scaling/multi-region/index.md
  docs/core-principles/pattern-library/scaling/rate-limiting/index.md
  docs/core-principles/pattern-library/scaling/sharding/index.md
  docs/pattern-library/resilience/circuit-breaker-module.md
  mkdocs.yml
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

Pin documentation dependencies
  requirements.txt
Due: none

docs: expand progress tracker guidance
  docs/progress.md
Due: none

feat: link patterns via pattern library
  docs/macros.py
Due: none

Add temporal constraints law
  docs/core-principles/index.md
  docs/core-principles/laws.md
  docs/core-principles/laws/index.md
  docs/core-principles/laws/temporal-constraints.md
  mkdocs.yml
Due: navigation-consistency

chore: update validation script paths
  .pre-commit-config.yaml
Due: none

Remove duplicate strict setting in MkDocs
  mkdocs.yml
Due: navigation-consistency

chore: ensure trailing newline in markdownlint config
  .markdownlint.yaml
Due: none

fix service worker asset paths
  docs/sw.js
Due: none

fix: correct comment syntax in offline page
  docs/reference/offline.md
Due: none

Add dependency update instructions
  README.md
  requirements.txt
Due: pattern-count-validation

Reorder law cards in index
  docs/core-principles/laws/index.md
Due: none

docs: clean quality assurance strategy
  docs/architects-handbook/quality-assurance-strategy.md
  mkdocs.yml
Due: navigation-consistency

chore: add newline to pre-commit config
  .pre-commit-config.yaml
Due: none

docs: summarize coordination and resilience categories
  docs/pattern-library/coordination/index.md
  docs/pattern-library/resilience/index.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

Populate pattern consistency metrics
  docs/reference/pattern-consistency-report.md
Due: none

docs: describe pattern library and simplify explorer anchor
  docs/pattern-library/index.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, pattern-count-validation, broken-link-detection, excellence-framework-validation

fix: clean start-here toc links
  docs/start-here/index.md
Due: none

feat: make service worker path-aware
  docs/sw.js
Due: none

docs: link observability pattern references
  docs/pattern-library/observability.md
Due: pattern-metadata-validation, navigation-consistency, pattern-quality-check, broken-link-detection, excellence-framework-validation

Use unified project name
  docs/macros.py
  mkdocs.yml
Due: navigation-consistency

Path conditions:
  pattern-metadata-validation: any of: docs/pattern-library/.*\.md$
  navigation-consistency: any of: (mkdocs\.yml|docs/pattern-library/.*\.md)$
  pattern-quality-check: any of: docs/pattern-library/.*\.md$
  pattern-count-validation: any of: (README\.md|CLAUDE\.md|docs/index\.md|docs/pattern-library/index\.md)$
  broken-link-detection: any of: docs/pattern-library/.*\.md$
  excellence-framework-validation: any of: docs/pattern-library/.*\.md$
